doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="x-apple-disable-message-reformatting")
            title= subject
            link(rel="stylesheet", href="./trade-submit/trade-submit.css", data-inline)

h3.mail-header #{sender}, all participants of the trade have submitted their confirmations:

.mail-container
    each trade in tradeData
        .mail-title
            strong From:
            p #{trade.sender.name}
        .divTable.blueTable
            .divTableRow
                .divTableHead
                    strong Players
                .divTableCell
                    if trade.players.length > 0
                        each player in trade.players
                            p #{player.player} #[em to] #{player.rec.name}
                    else
                        p None
            .divTableRow
                .divTableHead
                    strong Prospects
                .divTableCell
                    if trade.prospects.length > 0
                        each prospect in trade.prospects
                            p #{prospect.prospect} #[em to] #{prospect.rec.name}
                    else
                        p None
            .divTableRow
                .divTableHead
                    strong Picks
                .divTableCell
                    if trade.picks.length > 0
                        each pick in trade.picks
                            p #[strong Round: ] #{pick.round}, #[strong Pick: ] #{pick.pick} #[em to] #{pick.rec.name}
                    else
                        p None
    a.link-button(href=`${url}`) Click here to go to the trade finalization page.