| #{sender}, all participants of the trade have submitted their confirmations:
|
each trade in tradeData
    |
    | From: #{trade.sender.name}
    |
    | Players:
    if trade.players.length > 0
        each player in trade.players
            | #{player.player} to #{player.rec.name}
            |
    else
        | None
        |
    |
    | Prospects:
    if trade.prospects.length > 0
        each prospect in trade.prospects
            | #{prospect.prospect} to #{prospect.rec.name}
            |
    else
        | None
        |
    |
    | Picks:
    |
    if trade.picks.major && trade.picks.major.length > 0
        | Major League Draft Picks:
        each pick in trade.picks.major
            | Round #{pick.round}, Pick #{pick.pick} to #{pick.rec.name}
            |
    if trade.picks.high && trade.picks.high.length > 0
        | High Minor Draft Picks:
        each pick in trade.picks.high
            | Round #{pick.round}, Pick #{pick.pick} to #{pick.rec.name}
            |
    if trade.picks.low && trade.picks.low.length > 0
        | Low Minor Draft Picks:
        each pick in trade.picks.low
            | Round #{pick.round}, Pick #{pick.pick} to #{pick.rec.name}
            |
    if !trade.picks.major && !trade.picks.low && !trade.picks.high
        | None
        |

    |
    |_____________________
    |
|
|
|Go to this link to confirm the above trade details: #{url}
|
