doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="x-apple-disable-message-reformatting")
            title= subject
            link(rel="stylesheet", href="./trade-submit/trade-submit.css", data-inline)

h3.mail-header #{sender} requested the following trade involving you #{recipient}:

.mail-container
    each trade in tradeData
        .mail-title
            strong From:
            p #{trade.sender}
        .divTable.blueTable
            .divTableRow
                .divTableHead
                    strong Players
                .divTableCell
                    if trade.players.length > 0
                        each player in trade.players
                            p #{player.player} #[em to] #{player.rec}
                    else
                        p None
            .divTableRow
                .divTableHead
                    strong Prospects
                .divTableCell
                    if trade.prospects.length > 0
                        each prospect in trade.prospects
                            p #{prospect.prospect} #[em to] #{prospect.rec},
                    else
                        p None
            .divTableRow
                .divTableHead
                    strong Picks
                .divTableCell
                    if trade.picks.major && trade.picks.major.length > 0
                        p #[strong Major League Draft Picks:]
                        each pick in trade.picks.major
                            p #[strong Round: ] #{pick.round}, #[strong Pick: ] #{pick.pick} #[em to] #{pick.rec}
                    if trade.picks.high && trade.picks.high.length > 0
                        p #[strong High Minor Draft Picks:]
                        each pick in trade.picks.high
                            p #[strong Round: ] #{pick.round}, #[strong Pick: ] #{pick.pick} #[em to] #{pick.rec}
                    if trade.picks.low && trade.picks.low.length > 0
                        p #[strong Low Minor Draft Picks:]
                        each pick in trade.picks.low
                            p #[strong Round: ] #{pick.round}, #[strong Pick: ] #{pick.pick} #[em to] #{pick.rec}
                    if !trade.picks.major && !trade.picks.low && !trade.picks.high
                        p None
    a.link-button(href=`${url}`) Click here to go to the trade confirmation page.
    p #[strong Note:] This trade is valid until #{expiry}.
